<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color:black;
        }
        th
        {
            color: orange;
        }
        td
        {
            color: white;
        }
    </style>
</head>
<body>
    <table border="10px" cellpadding="30px" cellspacing="200px">
        <thead>
            <tr>
                <th>
                    NAME
                </th>
                <th>
                    ROLE
                </th>
                <th>
                    AGE
                </th>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>{{role}}</td>
                <td>{{age}}</td>
            </tr>
        </thead>
    </table>
    
</body>
</html>